.ntk-marker {
  width: 4em;
  height: 100%;
}

.ntk-marker-mode-icon {
  font-size: 1.5em;
  padding-left: 0;
}

.ntk-highlighter:before{
  font-family: 'FontAwesome';
  content: '\f040';
}

.ntk-mark-collection {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 4em;
}

.ntk-board {
  height: 0.3em;
  background-color: transparent !important;
  margin: 0;
  width: 100%;
  position: absolute;
	z-index: 1;
}ex: 100;

.ntk-board li {
  min-width: 3px;
  height: 0.3em;
  list-style: none;
  margin: 0;
  position: absolute;
	background-color: rgba(0,0,0,0.2);
}

.ntk-select-state,
.ntk-create-state { z-index: 100; }
.ntk-normal-state { z-index: -100; }

.ntk-create-state .ntk-mark-item { z-index: -10; }
.ntk-normal-state .ntk-mark-item { display: none; }
.ntk-select-state .ntk-mark-item { z-index: 10; }

.ntk-board .ntk-mark-item {
	position: absolute;
	height: 100%;
	list-style-type: none;
}

.ntk-board .ntk-mark-selected {
	border: 1px solid white;
	border-radius: 5px;
}

.ntk-board .ntk-mark-focused {
	border: 1px solid yellow;
	border-radius: 5px;
}

.ntk-board .ntk-mark-saved {
	border: none;
	background-color: 
}

.ntk-dialog {
	display: block;
	position: absolute;
	bottom: 50px;
	background: rgba(43, 51, 63, 0.7);
	padding: 16px 8px 10px;
	border-radius: 4px;
}

.ntk-dialog-title {
	width: 100%;
	color: rgba(255, 255, 255,0.85);
	border: none;
	border-radius: 4px;
	padding: 6px 8px;
	margin-bottom: 5px;
	background: rgba(5,15,5,0.6);
}

.ntk-dialog-text {
	width: 100%;
	color: rgba(255, 255, 255,0.85);
	border: none;
	border-radius: 4px;
	padding: 6px 8px;
	background: rgba(5,15,5,0.6);
}

.ntk-dialog-text:focus,
.ntk-dialog-title:focus {
	outline: none;
	box-shadow: 0 0 0px 1px rgba(255, 255, 255,0.85);
}

.ntk-dialog-buttons {
	text-align: center;
}

.ntk-dialog-save,
.ntk-dialog-delete {
	display: inline-block;
	background-color: #c9302c;
	padding: 6px 16px;
	text-align: center;
	border: none;
	border-radius: 4px;
	text-align: center;
	outline: none;
}

.ntk-dialog-save:hover:before,
.ntk-dialog-delete:hover:before {
	text-shadow: 0em 0em 1em white;
	outline: none;
}

button.ntk-dialog-save.fa,
button.ntk-dialog-delete.fa {	font-size: 18px; }

ntk-dialog-time-text { width: 33.33333%; }
.ntk-dialog-time { 
	margin: 0 0 5px; 
	text-align: center;
}

.ntk-dialog-start-time,
.ntk-dialog-end-time {
	display: inline-block;
	width: 33.33333%;
	color: rgba(255, 255, 255,0.85);
	border: none;
	border-radius: 4px;
	padding: 6px 4px;
	text-align: center;
	background: none;
}

.ntk-dialog-start-time:focus,
.ntk-dialog-end-time:focus {
	outline: none;
}

.ntk-dialog-start-time:hover,
.ntk-dialog-end-time:hover {
	box-shadow: 0 1px 0 0 rgba(255, 255, 255,0.85);
	border-radius: 0px;
}